.sidebarContent {
    background-color: #f9f9f9; /* Màu nền nhạt */
    border-right: 1px solid #ddd; /* Đường viền bên phải */
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
    z-index: 100; /* Đảm bảo sidebar nằm trên các thành phần khác */
}

.container {
    display: flex;
    justify-content: flex-end; /* Canh phải nút đóng */
    background-color: #fff; /* Màu nền trắng cho header */
    border-bottom: 1px solid #ddd; /* Đường viền bên dưới */
}

.sidebarCloseButton {
    background-color: transparent; /* Nền trong suốt */
    border: none; /* Loại bỏ đường viền */
    font-size: 24px; /* Tăng kích thước biểu tượng */
    cursor: pointer;
    color: #555; /* Màu biểu tượng */
    transition: color 0.3s ease;

}

.sidebarCloseButton:hover {
    background-color: #0056b3; /* Màu xanh đậm hơn khi hover */
    transform: scale(1.1); /* Phóng to khi hover */
}

.searchBox {
    padding: 20px; /* Khoảng cách bên trong */
    background-color: #f9f9f9; /* Màu nền cho vùng tìm kiếm */
}

.searchBox input {
    width: 96.2%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    outline: none; 
    transition: border-color 0.3s ease;
    margin-right: 20px;
}

.searchBox input:focus {
    border-color: #007bff;
}

.searchBox button {
    margin-top: 10px; 
    margin-right: 50px;
    width: 100%; 
    font-size: 16px; /* Kích thước chữ */
    color: #fff; /* Màu chữ trắng */
    background-color: #007bff; /* Màu nền xanh */
    border: none; /* Loại bỏ đường viền */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchBox button:hover {
    background-color: #0056b3; /* Màu nền khi hover */
}

.appWrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 26rem 1fr auto;
    grid-template-rows: 100%;
    justify-content: space-between;
    overflow: auto;
    -webkit-user-select: none;
    user-select: none; 
}

.map {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.sidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: transparent;
    pointer-events: none;
    z-index: 1;
    align-self: stretch;
}

.popupContainer {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: transparent;
    pointer-events: none;
    z-index: 2;
    align-self: stretch;

    margin: 0 0.5rem 0 0.5rem;
    overflow: hidden;
    position: relative;
}

.sidebarContent {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: white;
    max-height: calc(100% - 2rem);
    margin: 0.5rem;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    pointer-events: all;
    overflow: auto;
}

.onMapRightSide {
    position: relative;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    z-index: 1;

    padding: 0.5rem;
}

.onMapRightSide > div {
    cursor: pointer !important;
}

.onMapRightSide > div {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.pathDetails {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    z-index: 1;
    align-self: end;
    overflow: hidden; /* This is important to make the heightgraph shrink */
    margin: 0;
    pointer-events: none;
}

.smallScreenMap {
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
}

.smallScreenSidebar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    border-radius: 0;
    z-index: 3;
}

.smallScreenMapOptions {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    justify-self: end;
}

.onMapRightSide > div {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.smallScreenRoutingResult {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    z-index: 2;
    background-color: white;
}

.smallScreenPoweredBy {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    border-radius: 0;
    z-index: 2;
}

@media (max-width: 44rem) {
    .appWrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto 0 1fr auto auto;
    }
}

/* mapilion */
@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans-Variable.ttf) format('truetype');
}

/* maptiler */
@font-face {
    font-family: 'Noto Sans';
    src: url(./fonts/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(./fonts/RobotoCondensed-Regular.ttf) format('truetype');
}

.sidebarCloseButton {
    position: absolute;

    color: lightgray !important; /* unsure why !important is necessary here but not in ErrorMessage.module.css for same <Cross/> */

    height: 10px;
    width: 10px;

    right: 7px;
    top: 6px;
}

.sidebarCloseButton:hover {
    color: black !important;
}

.sidebarWhenClosed {
    z-index: 1;
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 0.25em;
    margin: 0.5em;
}

.sidebarOpenButton svg {
    fill: gray;

    width: 30px;
    height: 24px;
}

.sidebarOpenButton:hover svg {
    fill: black;
}

.iconRow {
    display: none;
    justify-content: center;
    position: fixed;
    gap: 8px;
    z-index: 1; /* Ensures it appears above the map */
    bottom: 55px;
    width: calc(100% - 41px);
}

.iconButton {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}
.iconButton > span {
    display: none;
}
.iconButton:hover {
    background-color: #f1f1f1;
}

@media only screen and (min-width: 380px) {
    .iconRow {
        display: flex;
    }
}

@media only screen and (min-width: 440px) {
    .iconRow {
        width: 100%;
        gap: 10px;
    }
}

@media only screen and (min-width: 705px) {
    .iconRow {
        bottom: 20px;
    }
}

@media only screen and (min-width: 820px) {
    .iconRow {
        top: 10px;
        left: 416px;

        bottom: auto;
        width: calc(100% - 470px);
    }
}

@media only screen and (min-width: 1280px) {
    .iconButton > span {
        display: inline;
        font-size: small;
    }
    .iconRow {
        gap: 0.4vw;
    }
}

@media only screen and (min-width: 1345px) {
    .iconButton > span {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 1380px) {
    .iconButton > span {
        font-size: 0.95rem;
    }
    .iconRow {
        gap: 0.5vw;
    }
}

@media only screen and (min-width: 1410px) {
    .iconButton > span {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1440px) {
    .iconRow {
        gap: 0.7vw;
    }
}
